<div class="row">
<div class="span4">
<h1><%= @user.name %>'s Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Beginnings authored: <%= @user.beginnings.count %></p>
<p>Endings authored: <%= @user.endings.count %></p>
<p>Beginnings bookmarked: <%= @user.following_beginnings_count %></p>
<p>Endings bookmarked: <%= @user.following_endings_count %></p>

</div>
</div>
<br />

<h2>Praise system</h2>
<p>
  <b><%= @user.name %> has been praised <%= pluralize(@praise, ' time') %>.</b>
</p>
<br />
<p>
  <h2><%= @user.name %>'s Bookmarked Endings </h2>
</p>

<table class="table table-striped">
  <tr>
    <th>Ending Title</th>
    <th>Ending Author</th>
    <th>What Beginning?</th>
    <th>Controls</th>

  </tr>

<% @endingbookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.title %></td>
    <td><%= bookmark.user.name %></td>
    <td><%= bookmark.beginning.title %></td>

      <td><%= link_to 'Unbookmark', unbookmark_ending_path(bookmark), method: :post, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>
<br />

<p>
  <h2><%= @user.name %>'s Bookmarked Beginnings </h2>
</p>

<table class="table table-striped">
  <tr>
    <th>Beginning Title</th>
    <th>Beginning Author</th>
    <th>Controls</th>

  </tr>

<% @beginningbookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.title %></td>
    <td><%= bookmark.original_author %></td>

      <td><%= link_to 'Unbookmark', unbookmark_beginning_path(bookmark), method: :post, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>
<br />

<p>
  <h2><%= @user.name %>'s Endings </h2>
</p>
<table class="table table-striped">
  <tr>
    <th>What beginning</th>
    <th>Title</th>
    <th>Created</th>
    <th>Controls</th>
  </tr>

<% @user.endings.each do |ending| %>
  <tr>
    <td><%= ending.beginning.title %></td>
    <td><%= ending.title %></td>
    <td><%= time_ago_in_words(ending.created_at) %> ago</td>
    <td><%= link_to 'Show', ending, :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Edit', edit_ending_path(ending), :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Destroy', ending, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>
<br />

<p>
  <h2><%= @user.name %>'s Beginnings </h2>
</p>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Original Author</th>
    <th>Created</th>
    <th>Controls</th>

  </tr>

<% @user.beginnings.each do |beginning| %>
  <tr>
    <td><%= beginning.title %></td>
    <td><%= beginning.original_author %></td>
    <td><%= time_ago_in_words(beginning.created_at) %> ago</td>
      <td><%= link_to 'Show', beginning, :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_beginning_path(beginning), :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Destroy', beginning, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>
<br />


