<div class="row">
<div class="span4">
<h1><%= @user.name %>'s Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Beginnings: <%= @user.beginnings.count %>
<p>Endings: <%= @user.endings.count %>
</div>
<div class-"span8">
<% for activity in @activities %>
  <%= activity.text %><br/>
<% end %>
</div>
</div>





<p>
  <h2> Beginnings </h2>
</p>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Original Author</th>
    <th>Created</th>
    <th>Controls</th>

  </tr>

<% @user.beginnings.each do |beginning| %>
  <tr>
    <td><%= beginning.title %></td>
    <td><%= beginning.original_author %></td>
    <td><%= time_ago_in_words(beginning.created_at) %> ago</td>
      <td><%= link_to 'Show', beginning, :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_beginning_path(beginning), :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Destroy', beginning, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>
<br />

<p>
  <h2>Endings </h2>
</p>
<table class="table table-striped">
  <tr>
    <th>What beginning</th>
    <th>Title</th>
    <th>Created</th>
    <th>Controls</th>
  </tr>

<% @user.endings.each do |ending| %>
  <tr>
    <td><%= ending.beginning.title %></td>
    <td><%= ending.title %></td>
    <td><%= time_ago_in_words(ending.created_at) %> ago</td>
    <td><%= link_to 'Show', ending, :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Edit', edit_ending_path(ending), :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Destroy', ending, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>
<br />


