<div class ="alert alert-success">
<p>
  <b>For Beginning:</b>
  <%= @ending.beginning.title %>
</p>
<p>
  <b>Beginning Content:</b>
  <%= simple_format (@ending.beginning.content) %>
</p>
</div>
<div class ="alert alert-info"
<p>
<%= simple_format (@ending.content) %>
</p>
<p>
<b>Ending Title:</b>
<%= @ending.title %>
</p>
<p>
<b>Ending Created by lucid user:</b>
<%= @ending.user.name %> on  <%= @ending.created_at %>
</p>
<p>
<b>Ending has been praised <strong id="praised" class="stat">
<%= pluralize(@ending.votes_for, ' time') %></strong>.</b>
</p>
<p>
<b>Ending has been bookmarked <strong id="bookmarked" class="stat">
<%= pluralize(@ending.followers_count, ' time') %></strong>.</b>
</p>
<br />
<div class="row">
<div class="span2">
<div id="bookmarkform">
<% if @ending.followed_by?(current_user) %>
<%= render 'unbookmark' %>
<% else %>
<%= render 'bookmark' %>
<% end %>
</div>
</div>
<div class="span3">
<div id="praiseform">
<% if @ending.voted_by?(current_user) %>
<%= render 'unpraise' %>
<% else %>
<%= render 'praise' %>
<% end %>
</div>
</div>
</div>
</div>

<div class="form-actions">
<%= link_to 'Edit Ending', edit_ending_path(@ending), :class => 'btn btn-primary' %>
<%= link_to 'Back', endings_path, :class => 'btn btn-primary' %>
<br />
<br />

<div id="publishform">
<% if @ending.private? %>
<%= render 'publish' %>
<% else %>
<%= render 'unpublish' %>
<% end %>
</div>
</div>
<br />

<!--
<h2>Praise system</h2>
  <b>Ending has been praised <strong id="praised" class="stat">
 <%= pluralize(@ending.votes_for, ' time') %></strong>.</b>
<div id="voteform">
<p>
<% if @ending.voted_by?(current_user) %>
<%= render 'unpraise' %>
<% else %>
<%= render 'praise' %>
<% end %>
</p>
</div>
-->
<!--
<h2>Bookmark system</h2>
  <b>Ending has been bookmarked <strong id="bookmark" class="bm-stat">
 <%= pluralize(@ending.followers_count, ' time') %></strong>.</b>
</p>
<div id="bookmarkform">
<p>
<% if @ending.followed_by?(current_user) %>
<%= render 'unbookmark' %>
<% else %>
<%= render 'bookmark' %>
<% end %>
</p>
</div>
-->

<h2>Commenting system</h2>
  <%= nested_comments @ending.comments.includes(:user).arrange(:order => "created_at asc") %>
  <%= render "comments/form" %>
