<p>
  <b>For Beginning:</b>
  <%= @ending.beginning.title %>
</p>
<div class ="alert alert-success">

<p>
  <b>Beginning Content:</b>
  <%= simple_format (@ending.beginning.content) %>
</p>
</div>
<div class ="alert alert-info"
<p>
  <%= simple_format (@ending.content) %>
</p>
</div>
<p>
  <b>Ending has been praised <%= pluralize(@votes, ' time') %>.</b>
</p>
<p>
<% if @ending.voted_by?(current_user) %>
You have praised this ending.
<%= button_to('Remove praise', vote_down_ending_path(@ending)) %>
<% else %>
<%= button_to('Praise this ending!', vote_up_ending_path(@ending)) %>
</p>
<% end %>
<p>
  <b>Ending Title:</b>
  <%= @ending.title %>
</p>
<p> 
  <b>Ending Created by lucid user:</b>
  <%= @ending.user.name %> on  <%= @ending.created_at %>
</p>
<%= link_to 'Edit', edit_ending_path(@ending) %> |
<%= link_to 'Back', endings_path %>


<div id="comments">
  <%= nested_comments @ending.comments.includes(:user).arrange(:order => "created_at asc") %>
  <%= render "comments/form" %>
</div>
