
<% if @beginning.embed_code %>
<%= @beginning.embed_code.html_safe %>
<div class="form-inputs">
<%= simple_form_for(@ending) do |f| %>
  <%= f.error_notification %>

  <%= f.input :content, :placeholder => 'dont be shy, finish this piece...', :label => false, :as => :text, :input_html => { :class => "span6" }  %>
  </div>
<%= f.hidden_field :beginning_id, :value => @beginning.id %>
<p>
  <b>A title for your ending?</b>
  <%= f.input :title, :label => false, :input_html => { :class => "span4" } %>
</p>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>

<% else %>
<h3>Sorry not currently available in Ereader format, check back soon.</h3>
<div class="form-actions">
<%= link_to 'Go to normal version', beginning_path(@beginning), :class => 'btn btn-primary' %>
</div>
<% end %>

