<h1>Listing all beginnings</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Original Author</th>
    <th>Style</th>
    <th>Created</th>
    <th>Controls</th>
  </tr>

<% @beginnings.each do |beginning| %>
  <tr>
    <td><%= beginning.title %></td>
    <td><%= beginning.original_author %></td>
    <td><%= beginning.style_type %></td>
    <td><%= time_ago_in_words(beginning.created_at) %> ago</td>
      <td><%= link_to 'Show', beginning, :class => 'btn btn-primary' %></td>
      <td><%= link_to 'EReader', ereader_beginning_path(beginning), :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_beginning_path(beginning), :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Destroy', beginning, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
    </div>
  </tr>
<% end %>
</table>

<br />
 <div class="form-actions">
<%= link_to 'New Beginning', new_beginning_path, :class => 'btn btn-primary' %>
</div>
